*{
    margin: 0;
    padding: 0;
}

.homepageGrid{
    display: grid;
    grid-template-columns: 21% 21% 16% 21% 21%;
    grid-template-rows: 7vh 75vh 7vh 60vh 35vh;
}
body{
    min-height: 100vh;
    background-color: black;
}
nav{
    background-color: #373737;
}
.homepageNav{
    width: 100%;
    list-style: none;
    grid-column: 1/ span 6;
    grid-row: 1/ span 1;
}

.heroText{
    background-color: black;
    grid-column: 1/ span 1;
    grid-row: 2/ span 1;
}

.heroImage{
    grid-column: 3/ span 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-image: radial-gradient(circle, rgba(0, 0, 0, 0.123), rgb(0, 0, 0)), url("../Media/Homepage/heroimage.jpg");
}

.pageSplit{
    background-color: blue;
    grid-column: 1/ span 6;
    grid-row: 3/ span 1;
}

.mainInfo{
    background-color: aqua;
    grid-column: 1/span 6;
    grid-row: 4/ span 1;
}

.versusBox1{
    background-color: blueviolet;
    grid-column: 1/ span 2;
    grid-row: 5/ span 1;

}

.versusBox2{
    background-color: blueviolet;
    grid-column: 4/ span 2;
    grid-row: 5/ span 1;
}

#mobileBurger{
    display: none;
}

nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav li{
    height: 50px;
}
nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}
nav a:hover{
    background-color: #474747;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li{
    width: 100%;
}
.sidebar a{
    width: 100%;
}
.sidebar a:hover{
    background-color: #14141454;
}

#openmenu{
    width: 30px;
    height: 30px;
}

#closemenu{
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 600px) {
    .desktopMenu{
        display: none;
    }
    #mobileBurger{
        display: flex;
    }
}