* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.gameInfoGrid {
    display: grid;
    grid-template-columns: 21% 21% 16% 21% 21%;
    grid-template-rows: 3.5em 9em auto auto auto auto 15em;
    overflow-x: hidden;
    min-width: 0;
}

body {
    cursor: url("../Media/Cursor/cursorNormal.png"), auto;
    min-height: 100vh;
    background-color: black;
    font-family: 'Chakra Petch', sans-serif;
    color: white;

}

a:hover {
    cursor: url("../Media/Cursor/cursorHover.png"), auto;
}

h1 {
    font-weight: 700;
}

li {
    list-style: none;
}



nav {
    background-color: #373737;
    border-bottom: 0.1em solid white;
    height: 100%;
    font-size: 2rem;
    overflow: hidden;
}

li {
    list-style: none;
}

.gameInfoNav {
    width: 100%;
    list-style: none;
    grid-column: 1/ span 6;
    grid-row: 1/ span 1;
}

.desktopMenu {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
}

#mobileBurger {
    display: none;
}

.navCentre {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style: none;
    margin: 0 auto;
    gap: 1rem;
}


.logo {
    flex: 0 0 auto;
    padding-left: 1rem;
}

.logo img,
#navbarLogo {
    height: 1.8em;
    width: auto;
    object-fit: contain;
    padding-top: 0.1em;
}


.navRight {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0;
    margin-left: auto;
    gap: 1rem;
}

.navCentre li,
.navRight li {
    height: 50px;
    padding-bottom: 0.1em;
    padding-top: 0.1em;
}

.navCentre a,
.navRight a,
.sidebar a {
    height: 100%;
    padding: 0 1em;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
}

.navCentre a:hover,
.navRight a:hover {
    background-color: #474747;
}

.navCentre a.active,
.navRight a.active {
    color: white;
    font-weight: 700;
    text-shadow: 0 0 0.4em white;
}

.mobileNavTrigger {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 250px;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.445);
    backdrop-filter: blur(10px);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.sidebar a:hover {
    background-color: #14141454;
}

#openmenu {
    width: 30px;
    height: 30px;
}

#closemenu {
    width: 30px;
    height: 30px;
}

.heroSection,
.gameExpl,
.gameExplImg,
.howToPlay,
.gameTimeline,
.resourceImg,
.resources,
.featuredPlayers {
    padding: 1em;
}

.heroSection {
    grid-column: 1/ span 5;
    grid-row: 2/ span 1;
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    font-size: 1.6rem;
}

.heroText {
    justify-self: end;
}

.heroImage {
    justify-self: center;
}

.heroQMark {
    justify-self: start;

}

#pumpLogo {
    max-width: 6.5em;
    height: auto;
}

.gameExpl {
    grid-column: 1/ span 3;
    grid-row: 3/ span 1;
    font-size: 1.4rem;
}

.gameExplPara {
    white-space: pre-line;
    line-height: 1.6;
}


.gameExplImg {
    grid-column: 4/ span 2;
    grid-row: 3/ span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameExplImg img {
    width: 28em;
    height: auto;
    border: 0.08em solid white;
    border-radius: 0.3em;
}

.cutline {
    margin-top: 0.2em;
    font-size: 1rem;
    color: white;
    font-style: italic;
}

.howToPlay {
    grid-column: 1/ span 4;
    grid-row: 4/ span 1;
    font-size: 1.4rem;

}

.htpTitle {
    font-size: 3.2rem;
}

.htpRow {
    display: grid;
    grid-template-columns: 1fr 25%;
    gap: 1rem;
    align-items: start;
    margin: 2rem 0;
}

.htpRow img {
    grid-column: 2;
    width: 100%;
    width: 15rem;
    height: auto;
    object-fit: cover;
    justify-self: center;
    border: 0.08em solid white;
    border-radius: 0.3em;
}

.htpRow h3,
.htpRow p {
    grid-column: 1;
    margin: 0;
    line-height: 1.6;
}

.htpHeader {
    margin: 0 0 0.75rem 0;
    font-size: 2rem;
}

.htpRow p {
    margin: 0;
    line-height: 1.6;
}

hr {
    border: 0;
    border-top: 0.1rem solid;
    margin: 2rem 0;
}


.gameTimeline {
    grid-column: 1/ span 5;
    grid-row: 5/ span 1;
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
}

iframe {
    width: 100%;
    height: 40em;
    margin: 0;
    padding: 0;
    border: 0.08em solid white;
    border-bottom: none;
    border-radius: 0.3em;
}

.gameTimelineTitle {
    font-size: 3.2rem;

}

.resourceImg {
    grid-column: 1/ span 2;
    grid-row: 6/ span 1;
}

.resources {
    grid-column: 3/ span 3;
    grid-row: 6/ span 1;
}

.resourcesTitle {
    font-size: 3.2rem;
    grid-column: 3/ span 3;
    grid-row: 6/ span 1;
}

.resourceList {
    list-style: none;
    padding: 0;
    font-size: 1.2rem;
}

.resourceList li {
    margin-bottom: 1.5em;
}

.resourceList a {
    font-weight: 600;
    color: #00FFFF;
    text-decoration: none;
}

.resourceList a:hover {
    text-decoration: underline;
}

.resourceList p {
    margin: 0.3em 0 0 0;
    color: #ccc;
    line-height: 1.4;
}

.desktopResource {
    display: block;
}

.mobileResource {
    display: none;
}

.featuredPlayers {
    grid-column: 1/ span 5;
    grid-row: 7/ span 1;
}

.featuredTitle {
    font-size: 3.2rem;
}


@media screen and (max-width: 768px) {
    nav {
        background-color: black;
        border: none;
    }

    .desktopMenu,
    .loginPC,
    .signUpPC {
        display: none;
    }

    #mobileBurger {
        display: flex;
    }

    #mobileBurger img {
        width: 1.7em;
        height: auto;
        grid-column: 3/ span 1;
    }

    .gameInfoGrid {
        display: grid;
        grid-template-columns: 20% 60% 20%;
        grid-template-rows: 3.2em 7em 15em 17em 20em 25em 12em 12em 10em;
    }

    .gameInfoNav {
        width: 100%;
        list-style: none;
    }

    .heroSection {
        grid-column: 1/ span 3;
        grid-row: 2/ span 1;
        margin-bottom: 1em;
    }

    .gameExpl {
        grid-column: 1/ span 3;
        grid-row: 3/ span 1;
    }

    .gameExplImg {
        grid-column: 1/ span 3;
        grid-row: 4/ span 1;
    }

    .howToPlay {
        grid-column: 1/ span 3;
        grid-row: 5/ span 1;
        text-align: center;

    }

    .gameTimeline {
        grid-column: 1/ span 3;
        grid-row: 6/ span 1;
    }


    .resources {
        grid-column: 1/ span 3;
        grid-row: 7/ span 1;

    }

    .desktopResource {
        display: block;
    }

    .mobileResource {
        display: block;
    }


    .featuredPlayers {
        grid-column: 1/ span 3;
        grid-row: 8/ span 1;
        text-align: center;

    }



}

@media screen and (max-width: 450px) {

    .desktopMenu,
    .loginPC,
    .signUpPC {
        display: none;
    }

    #mobileBurger {
        display: flex;
    }

    .gameInfoGrid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 3.5em 7em 15em 17em 25em 50em 20em 17em;
    }

    .gameInfoNav {
        width: 100%;
        list-style: none;
        grid-column: 1;
        grid-row: 1/ span 1;
    }

    .heroSection {
        grid-column: 1;
        grid-row: 2;
        display: grid;
        grid-template-columns: auto auto auto;
        justify-content: center;
        align-items: center;
        gap: 0.5em;
        font-size: 1.3rem;
    }

    .gameExpl {
        grid-column: 1;
        grid-row: 3;
    }

    .gameExplImg {
        grid-column: 1;
        grid-row: 4;
    }

    .howToPlay {
        grid-column: 1;
        grid-row: 5;
    }

    .gameTimeline {
        grid-column: 1;
        grid-row: 6;
    }


    .resources {
        grid-column: 1;
        grid-row: 7;
    }

    .desktopResource {
        display: none;
    }

    .mobileResource {
        display: block;
    }

    .featuredPlayers {
        grid-column: 1;
        grid-row: 8;
    }

}